html {
  margin: 0 0;
  padding: 60px 0 0; }

body {
  font-family: 'Poppins', sans-serif;
  background: #0D0628;
  color: #F9DBBD; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
  color: #9A348E;
  font-weight: normal; }

h1 {
  font-size: 4rem; }

h2 {
  margin: 40px 0; }

h3, h4 {
  margin: 30px 0; }

.white {
  color: white; }

#toms {
  width: 100%;
  height: 500px;
  background: #9A348E url(../images/toms-restaurant.jpg) center center no-repeat;
  background-size: cover;
  margin: 30px 0; }
  @media screen and (max-width: 992px) {
    #toms {
      height: 375px; } }
  @media screen and (max-width: 767px) {
    #toms {
      height: 250px; } }

.blend {
  opacity: 0.8;
  transition: width 0.6s; }

#map {
  width: 100%;
  height: 500px;
  margin: 0 0 0 0; }
  @media screen and (max-width: 992px) {
    #map {
      height: 375px; } }
  @media screen and (max-width: 767px) {
    #map {
      height: 250px; } }

.info-window {
  color: #9A348E;
  font-size: 1.5rem; }

.reservation-day ul {
  display: block;
  width: 100%; }

.dropdown-menu.show {
  margin: 630px 0 0 0; }

.form-inline .form-control, button, .dropdown-menu {
  width: 100%;
  margin: 0 0 2rem;
  padding: 16px 16px;
  text-align: left;
  color: #F9DBBD;
  background: #9A348E;
  border: 0px;
  line-height: 1.5;
  height: 50px; }

.form-control {
  color: #F9DBBD !important; }
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F9DBBD;
    opacity: 1;
    /* Firefox */ }
  .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #F9DBBD; }
  .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #F9DBBD; }

.btn:not(:disabled):not(.disabled) {
  padding: 20px; }

.btn-primary {
  background: #F9DBBD;
  color: #0D0628;
  padding: 2rem;
  border: 0px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  padding: 30px 0 30px 20px;
  height: 80px; }

/* custom select option styling */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding: 0 0;
  margin: 0 0 2rem;
  border: 0px;
  height: auto !important; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected, input {
  background-color: #9A348E;
  border-radius: .25rem; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #F9DBBD;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #9A348E;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

#quote-section {
  padding: 80px 0 100px; }
  #quote-section .jerry {
    transition: width 0.6s;
    border: 8px solid #9A348E; }
  #quote-section .mb-0 {
    font-size: 3rem;
    color: #FCA17D; }
  #quote-section .underline {
    text-decoration: underline; }
  #quote-section img {
    border: 8px solid #0D0628; }

.gradient-bg {
  background: linear-gradient(223deg, #9a348e, #0d0628);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 11%; }
  50% {
    background-position: 100% 90%; }
  100% {
    background-position: 0% 11%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 11%; }
  50% {
    background-position: 100% 90%; }
  100% {
    background-position: 0% 11%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 11%; }
  50% {
    background-position: 100% 90%; }
  100% {
    background-position: 0% 11%; } }

#main {
  height: 100px;
  width: 100%;
  text-align: center; }

#timeDiv {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  max-width: 325px;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
  vertical-align: top; }

.open {
  color: white;
  background: #27ae60;
  padding: 30px 80px; }

.closed {
  color: rgba(231, 76, 60, 0.85);
  border: 2px solid rgba(231, 76, 60, 0.8); }

.viewOpen {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgba(70, 70, 70, 0.7);
  max-width: 170px;
  background: #fff;
  width: 100%;
  color: rgba(70, 70, 70, 0.8);
  margin: 0 auto;
  top: 50%;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 16px -8px #adadad;
  -moz-box-shadow: 0 8px 16px -8px #adadad;
  box-shadow: 0 8px 16px -8px #adadad;
  cursor: pointer; }

.viewOpen i {
  color: rgba(70, 70, 70, 0.8); }

@media all and (max-width: 600px) {
  #timeDiv {
    margin-bottom: 20px; } }

@media all and (min-width: 601px) {
  #timeDiv {
    margin-right: 15px; } }

.dateTime {
  max-width: 320px;
  margin: 0 auto; }

.day {
  display: inline-block;
  float: left; }

.time {
  display: inline-block;
  float: right; }

.today {
  color: #c85527;
  font-weight: 600; }

@media all and (max-height: 420px) {
  #timeDiv, .viewOpen {
    top: 60%; } }

/* view hours modal */
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 173, 173, 0.5);
  display: none; }

#modal-state {
  display: none; }

#modal-state:checked + .modal-overlay {
  opacity: 1;
  animation: fade-in 0.4s;
  display: block; }

.modal {
  position: absolute;
  margin: 0 auto;
  padding: 30px 25px;
  background: #fff;
  right: 0;
  left: 0;
  text-align: center;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  line-height: 1.8; }

.modal h2 {
  margin-top: 0;
  line-height: 25px;
  font-size: 22px;
  border-bottom: 1px solid #dce0d8;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 400; }

@media all and (max-width: 470px) {
  .modal {
    width: 75%; }
  .modal h2 {
    font-size: 20px; } }

#modal-state:checked + .modal-overlay .modal {
  top: 20%; }

.modal-overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.button-close {
  text-decoration: none;
  position: absolute;
  color: #fff;
  background: #464646;
  padding: 0px 7px;
  font-weight: bold;
  top: 0px;
  right: 0;
  cursor: pointer; }

.modal {
  background: #9A348E;
  color: #F9DBBD; }
  .modal h5 {
    color: #FCA17D;
    background: url(../images/headsot.png) center top no-repeat;
    padding: 120px 0 30px;
    background-size: 70px; }
  .modal .modal-content {
    border: 0px;
    background: #9A348E; }
  .modal .close {
    color: #FCA17D;
    margin-bottom: 0;
    text-align: right; }
  .modal .btn {
    background: #0D0628; }
  .modal .btn:not(:disabled):not(.disabled) {
    padding: 0px; }
